@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Manage your expenses</h1>
    <hr/>
    
    @if (TempData ["GeneratedCode"] != null)
    {
        <p> Generated code: <strong>@TempData["GeneratedCode"]</strong></p>
    }

    <form asp-action="Expenses" method="get">
        <label for="codeInput">Enter code: </label>
        <input type="text" id="codeInput" name="codeValue" placeholder="Enter your code" />
        <button type="submit">View Expenses</button>
    </form>
    <br />
    <form asp-controller="Code" asp-action="CreateCode" method="post">
        <button type="submit" class="btn btn-primary">Generate new code</button>
    </form>

    @if (ViewBag.GeneratedCode != null)
    {
        <div class="mt-3">
            <h3>Your generated code: </h3>
            <p class="alert alert-success">@ViewBag.GeneratedCode</p>
            </div>
    }

</div>