@{
    ViewData["Title"] = "Create / Edit";
}

@model SpendSmart.Models.Expense


<div class="text-center">
    <h1 class="display-4">@((Model.Id == 0 ? "Create" : "Edit")) Expense</h1>
</div>

<form asp-action="CreateEditExpenseForm" asp-controller="Home"  method ="post" class="row g-3">

    @if (Model.Id != 0)
    {
            <input type="hidden" asp-for="Id" />
    }

    <!-- Value Field -->
    <div class="col-md-6">
        <label for="value" class="form-label">Value $</label>
        <input type="number" class="form-control" id="value" asp-for="Value" step="0.01" placeholder="Enter value" required/>
        <span asp-validation-for="Value" class="text-danger"></span>
    </div>

    <!-- Description Field -->
    <div class="col-md-6">
        <label for="description" class="form-label">Description</label>
        <input type="text" class="form-control" id="description" asp-for="Description" placeholder="Add a description" required/>
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>

    <!-- Hidden ID Field for Editing -->
    <input hidden class="form-control" type="number" asp-for="Id"/>

    <!-- Submit Button -->
    <div class="col-12">
        <button class="btn btn-primary" type="submit">Submit form</button>
    </div>
</form>
